.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal_content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2em;
}

.header_close {
    font-size: 24px;
    font-weight: bold;
}

.body {
    margin: 2em;
}